<ul>
  <li>
    Beyond / Solutions Architect
  </li>
  <li>
      Provide servant leadership to 10 unique teams, including 3 remote teams, to promote best practices, quality, collaboration and autonomy
      Heavily involved in architecture roadmaps for .NET Core, Angular, Node.js, and Salesforce applications
      Led the complete overhaul of the existing customer facing platform into a service oriented architecture behind an API Gateway
      Work directly with the CTO and VP of Delivery to analyze upcoming projects and help provide direction
      Integrated Ionic into the platform to enable cross-platform deployment (Android, IOS, Desktop, Progressive Web App) and native functionality on mobile
      Implemented the OAuth2 authorization code flow with single page applications to increase platform security
      Converted the existing API from session based tokens to stateless authentication using JSON Web Tokens
      Designed roles and permissions using role-based access control for distributed platform applications
      Integrated AWS Lambda into the platform to speed up development time
      Designed the company-wide E2E testing strategy using TestCafe
      Helped convert teams to trunk-based development using feature flags
      Created solutions for CI/CD controlled runtime configuration in web based applications
      Developed the standards and conventions for front-end and back-end development using Angular, NestJS and PostgreSQL
      Added recipes for API documentation using Swagger, API queries using GraphQL, and event-driven architecture using server-sent events
      Hold several recurring Guild meetings for Product Owners, QA, and Software Engineers to continuously share knowledge
      Decreased the load times of platform applications by 80% after exposing performance bottlenecks
      Led design and development of a QuickBooks integration to automatically sync customer accounting data      
  </li>
  <li>
    PharmaCord / Lead Software Engineer | Implementation Architect
  </li>
  <li>
      Directed the IT team of 45 team members and worked closely with clients to successfully deliver IT solutions
      Facilitated pivotal company-wide meetings, developed project plans, and performed risk assessment to help PharmaCord generate $3,000,000 in revenue within the first year of business 
      Deep knowledge of the Healthcare industry, HIPAA compliance and patient services
      Heavily involved in the design and development of the benefit investigation, appeal process, adverse effect/product complaint and triage flows
      Led development, architecture and design of an enterprise pharmaceutical CRM built from the ground up in Angular, Java and SQL
      Created innovative products such as real-time benefits investigation through our in-house developed CRM
      Developed the architecture for the multi-tenant application to scale on the front-end, back-end and database
      Designed and implemented the IT delivery workflow and process for multiple teams using the Scrum
      Created user flows and business process diagrams to help engineers understand the business requirements
      Expert knowledge of Angular concepts such as change detection, reactive forms and observables
      Built a custom implementation of Genesys, a web-based telephony API, to power the PharmaCord call center
      Developed a one-off implementation of Mozilla’s PDF.js in Angular to handle hundreds of PDFs in a single browser through detailed performance analysis, optimal canvas rendering and lazy loading      
  </li>
  <li>
      Restorative Justice Louisville (RJL) / Solutions Architect
  </li>
  <li>
      Managed a team of 15 engineers and consulted the client directly to identify their technology needs
      Created the proposal for the Community Foundation grant that was awarded to RJL out of 86 non-profit applicants
      Led development and architecture of RJL’s Case Management System from front-end to database
      Deep knowledge of Aurelia, an ES6 JavaScript framework, and Laravel, a PHP framework
      In-depth understanding of case management for victims and offenders
      Built a completely custom reporting and analytics system that allowed business users to easily generate reports 
      Maintained the infrastructure, application deployment pipelines and server configuration      
  </li>
  <li>
      CBS Interactive - CNET | ZDNET | TechRepublic  / Software Engineer
  </li>
</ul>
