<div class="me-container">
  <ul>
    <li *ngFor="let thing of aboutMe">
      <mat-card>
        <mat-card-header>
          <!-- <div  mat-card-avatar [ngClass]="thing?.icon"></div> -->
          <!-- <mat-card-title>{{ thing.name }}</mat-card-title>
          <mat-card-subtitle>testing</mat-card-subtitle> -->
        </mat-card-header>
        <div class="me-img" [ngClass]="thing?.asset"></div>
        <mat-card-content>
          Hello
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</div>
