.skills-container > ul {
  margin: 0;
  padding: 20px 20px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;

  .skill-icon {
    width: auto;
    height: 70px;
  }

  .skill-title {
    text-align: center;
    color: black;
  }

  .skill-content {
    width: 100px;
  }
}

@mixin icons($icons...) {
  @each $icon in $icons {
    .#{$icon} {
      background: url('/assets/icons/' + #{$icon} + '.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@include icons(
  'amazon', 'angular', 'apollo', 'aurelia', 'aws', 'azure', 'docker','express', 'genesys', 'git', 'graphql', 'hipaa', 'java', 'jest', 'js', 'jwt', 'laravel', 'mongo', 'mysql', 'net-core', 'nestjs','nodejs', 'oauth', 'php', 'postgres', 'react', 'redux', 'swagger', 'testcafe', 'visual-studio', 'vue' 
)