<div class="breweries" id="breweries">
  <app-portfolio-item *ngIf="isProjectOpen" [index]="index" (navigateBack)="toggleProject(port)"></app-portfolio-item>
  <ul [ngClass]="{'disappear': isProjectOpen }" class="portfolio-gallery no-margin-padding">
    <li *ngFor="let project of projects; let i = index">
      <figure (mouseover)="project.animateClass = 'animate-project'" (mouseout)="project.animateClass = ''" (click)="toggleProject(i)">
        <div [ngClass]="[project.animateClass, project.imgClass]"></div>
        <figcaption class="caption" [ngClass]="project.animateClass"><h3>{{ project.title }}</h3></figcaption>
      </figure>
    </li>
  </ul>
</div>