<main class="wrapper">
  <section>
    <div class="main-bg"></div>
    <div class="hero">
      <div class="hero-title">
          <h1>Guy Stitt</h1>
          <h5>Leader, Architect, Engineer</h5>
      </div>
      <div></div>
    </div>
  </section>
  <section class="section-title secondary-bg">
    <h2>My Skills</h2>
  </section>
  <section>
    <div class="skills secondary-bg">
      <app-skills></app-skills>
    </div>
  </section>
  <section class="section-title">
    <h2>Portfolio</h2>
  </section>
  <section class="no-margin-padding">
    <app-portfolio></app-portfolio>
  </section>
  <section class="section-title">
    <h2>Experience</h2>
  </section>
  <section class="no-margin-padding">
    <app-experience></app-experience>
  </section>
  <section class="section-title">
    <h2>About Me</h2>
  </section>
  <section class="section-content secondary-bg">
    <app-me></app-me>
  </section>
</main>
<footer>
  <p>Designed & Developed by Guy Stitt</p>
</footer>

<router-outlet></router-outlet>
