/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

// h1, h2, h3, h4, h5, h6 {
//   font-family: 'Playfair Display', serif;
// }

h2 {
  font-weight: 100;
  font-size: 1.5em;
}

ul {
  list-style: none;
}

// p, a {
//   font-family: 'Source Sans Pro', sans-serif;
// }

/* Generic styles */
html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

// a {
//   background-color: goldenrod;
//   text-decoration: none;
//   color: white;
//   border-radius: .25rem;
//   text-align: center;
//   display: inline-block;
//   transition: all .3s;
// }

// a:hover {
//   opacity: .6;
// }

/* Styles for the hero image */
.hero {
  /* Photo by mnm.all on Unsplash */
  background: #37373A; //url('https://images.unsplash.com/photo-1518176258769-f227c798150e') center;
  background-size: cover;
  /* grid styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  z-index: 99;
  text-align: center;

  .hero-title {
    padding: 40px;
    z-index: 99;
  }
}

.hero > * {
  color: white;
}

.hero h1 {
  font-size: 4rem;
  margin: 0;
}



.hero > article > p {
  font-size: 1.5rem;
  font-weight: 200;
}

.hero > article > a {
  padding: 1rem;
  margin-top: .75rem;
}

/* footer */
footer {
  background-color: #333;
  padding: .75rem;
  color: white;
  text-align: center;
  font-size: .75rem;
}

.image-one {
  background: url(https://images.unsplash.com/photo-1471421298428-1513ab720a8e);
  background-size: cover;
  height: 400px;
}

.section-title, .section-title-static {
  padding: 15px;
  text-align: center;
  background: #505050;
  color: white;
}

.secondary-bg {
  background: #F5F5F5;
  color: black;
}


// .skills {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
// }

.main-bg {
  position: absolute;
  background: url(/assets/img/dark-s.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  z-index: 49;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 100%;
}

section {
  z-index: 50;
}

.main-bg-container {
  position: relative;
}

.section-title {
  position: sticky;
  top: 0;
  z-index: 1000;
}
 
 a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 a:hover
 {
   color: tomato;
 }
 
 #menuToggle
 {
   display: block;
   position: fixed;
   top: 50px;
   right: 50px;
   
   z-index: 1001;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   right: -50px;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

 @media screen and (max-width: 500px) {
  .breweries > ul.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}